# Entorno virtual
mi_entorno39/
.mi_entorno39/
venv/
.env/
env/

# Archivos de Python compilados
__pycache__/
*.py[cod]
*$py.class

# Archivos de configuración de Jupyter
.ipynb_checkpoints/

# Archivos de configuración de editores
.vscode/
.idea/


