
# Core scientific libraries
pandas==1.5.3
numpy==1.24.4

# Machine Learning
scikit-learn==1.2.2
xgboost==1.7.6
lightgbm==3.3.5

# Visualización
matplotlib==3.7.1
seaborn==0.12.2

# Web app y servidor WSGI para producción
Flask==2.2.5
gunicorn==20.1.0


